header {
  background-color: #2e3a46;
}

main{
  background-color: #1e2d3b;
  min-height: 100vh;
}

.disk {
  height: 100%;
  background-color: #2e3a46;
}

.disk:hover {
  background-color: #103d64;
  cursor: pointer;
}

img {
  width: 100%;
}


.disk_title,
.disk_author,
.disk_year {
  color: #758080;
}